
<% if @photoshoot.start_time.day != @photoshoot.end_time.day %>
    <h1><%= @photoshoot.start_time.strftime("%b. %d %Y %l:%M%p") %> - <%= @photoshoot.end_time.strftime("%b. %d %Y %l:%M%p") %></h1>
<% else %>
    <h1><%= @photoshoot.start_time.strftime("%b. %d %Y %l:%M%p") %> - <%= @photoshoot.end_time.strftime("%l:%M%p") %></h1>
<% end %>

<h2><%= @photoshoot.location.name %></h2>
<p><%= @photoshoot.comments %></p>

<button><%= link_to "Edit", edit_photoshoot_path %></button>
<br>
<button><%= link_to "All Photoshoots", user_path(@photoshoot.user) %></button>
<br>
<%= form_tag photoshoot_path(@photoshoot.id), method: "delete" do %>
    <%= submit_tag "Delete" %>
<% end %>