<h1><%= @photoshoot.start_time %> - <%= @photoshoot.end_time %></h1>
<h2><%= @photoshoot.location.name %></h2>
<p><%= @photoshoot.comments %></p>

<button><%= link_to "Edit", edit_photoshoot_path %></button>
<%= form_tag photoshoot_path(@photoshoot.id), method: "delete" do %>
    <%= submit_tag "Delete" %>
<% end %>