<h1>Welcome, <%= @user.username %></h1>
<div class="filter">
    <%= form_tag("/users/#{@user.id}", method: "get") do %>
        <%= label_tag "Filter by Location" %>
        <%= select_tag "location", 
            options_from_collection_for_select(Location.all, "id", "name"), include_blank: true %>
        <br>
        <%= label_tag "Filter by Date" %>
        <%= select_date nil, include_blank: true, order: [:month, :day, :year] %>
        <%= submit_tag "Filter" %>
    <% end %>
</div>

<% @location_filter %>
<% @date_filter %>


<% if !@photoshoots.blank? %>
<% @photoshoots = @photoshoots.sort_by {|shoot| shoot.start_time } %>
    <% month_year = @photoshoots.first.start_time.strftime("%B %Y") %>
    <ul>
        <h3><%= month_year %></h3>
        <% @photoshoots.each do |shoot| %>
            <% if month_year != shoot.start_time.strftime("%B %Y") %>
                <% month_year = shoot.start_time.strftime("%B %Y") %>
                <h3><%= month_year %></h3>
            <% end %>
            <li><%= link_to "#{shoot.start_time.strftime("%b, %d %Y - %I:%M%p")} - #{shoot.location.name}", photoshoot_path(shoot) %></li>
        <% end %>
    </ul>
<% end %>

<button><%= link_to "Add a Photoshoot", new_photoshoot_path %></button>
