<h1>Welcome, <%= @user.username %></h1>

<div>
    <%= form_tag("/users/#{@user.id}", method: "get") do %>
        <%= label_tag "Filter by Location" %>
        <%= select_tag "location", 
            options_from_collection_for_select(Location.all, "id", "name"), include_blank: true %>
        <br>
        <%= label_tag "Filter by Date" %>
        <%= select_date nil, include_blank: true, order: [:month, :day, :year] %>
        <%= submit_tag "Filter" %>
    <% end %>
</div>

<% @location_filter %>
<% @date_filter %>



<ul>
    <% @photoshoots.each do |shoot| %>
        <li><%= link_to "#{shoot.start_time.strftime("%b, %d %Y - %I:%M%p")} - #{shoot.location.name}", photoshoot_path(shoot) %></li>
    <% end %>
</ul>

<button><%= link_to "Add a Photoshoot", new_photoshoot_path %></button>
